In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data\Real_Estate_Sales_2001-2021_GL.csv', low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054159 entries, 0 to 1054158
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Serial Number     1054159 non-null  int64
 1   List Year         1054159 non-null  int64
 2   Date Recorded     1054157 non-null  object
 3   Town              1054159 non-null  object
 4   Address           1054108 non-null  object
 5   Assessed Value    1054159 non-null  float64
 6   Sale Amount       1054159 non-null  float64
 7   Sales Ratio       1054159 non-null  float64
 8   Property Type     671713 non-null   object
 9   Residential Type  660275 non-null   object
 10  Non Use Code      302242 non-null   object
 11  Assessor Remarks  161472 non-null   object
 12  OPM remarks       11564 non-null    object
 13  Location          254643 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 112.6+ MB

In [4]:
df.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/02/2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,210317,2021,07/05/2022,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.4096,Residential,Single Family,NaN,NaN,NaN,POINT (-72.846365959 41.781677018)
3,200212,2020,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
4,200243,2020,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN

In [5]:
df['Date Recorded'] = pd.to_datetime(df['Date Recorded'], format = '%m/%d/%Y')

In [6]:
df.drop(['Non Use Code', 'Assessor Remarks', 'OPM remarks', 'Location'], axis = 1, inplace = True)

In [7]:
df.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,2021-09-13,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN
1,20002,2020,2020-10-02,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family
2,210317,2021,2022-07-05,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.4096,Residential,Single Family
3,200212,2020,2021-03-09,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo
4,200243,2020,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family

In [8]:
df['Residential Type'] = df['Residential Type'].fillna(value = 'Bachelor')

In [9]:
df.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,2021-09-13,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,Bachelor
1,20002,2020,2020-10-02,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.5883,Residential,Single Family
2,210317,2021,2022-07-05,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.4096,Residential,Single Family
3,200212,2020,2021-03-09,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.7248,Residential,Condo
4,200243,2020,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.6958,Residential,Single Family

In [10]:
df.set_index('Date Recorded')

,Serial Number,List Year,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
Date Recorded,,,,,,,,,
2021-09-13,2020348,2020,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,Bachelor
2020-10-02,20002,2020,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2022-07-05,210317,2021,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.409600,Residential,Single Family
2021-03-09,200212,2020,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
2021-04-13,200243,2020,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
...,...,...,...,...,...,...,...,...,...
2020-06-24,190272,2019,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
2019-11-27,190284,2019,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
2020-04-27,190129,2019,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
2020-06-03,190504,2019,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family
2019-12-20,190344,2019,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,NaN,Bachelor

In [11]:
df['Property Type'] = df['Property Type'].fillna(value = 'Other')

In [12]:
df['Property Type'].unique()

array(['Commercial', 'Residential', 'Vacant Land', 'Other', 'Apartments',
       'Industrial', 'Public Utility', 'Condo', 'Two Family',
       'Three Family', 'Single Family', 'Four Family'], dtype=object)

In [14]:
df.reset_index()

,index,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,0,2020348,2020,2021-09-13,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,Bachelor
1,1,20002,2020,2020-10-02,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,2,210317,2021,2022-07-05,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.409600,Residential,Single Family
3,3,200212,2020,2021-03-09,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
4,4,200243,2020,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...,...
1054154,1054154,190272,2019,2020-06-24,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
1054155,1054155,190284,2019,2019-11-27,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
1054156,1054156,190129,2019,2020-04-27,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
1054157,1054157,190504,2019,2020-06-03,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family
1054158,1054158,190344,2019,2019-12-20,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,Other,Bachelor

In [15]:
df.isnull().sum()

Serial Number        0
List Year            0
Date Recorded        2
Town                 0
Address             51
Assessed Value       0
Sale Amount          0
Sales Ratio          0
Property Type        0
Residential Type     0
dtype: int64

In [19]:
df.dropna(subset=['Date Recorded', 'Address'], inplace = True)

In [20]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type
0,2020348,2020,2021-09-13,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.463000,Commercial,Bachelor
1,20002,2020,2020-10-02,Ashford,390 TURNPIKE RD,253000.0,430000.0,0.588300,Residential,Single Family
2,210317,2021,2022-07-05,Avon,53 COTSWOLD WAY,329730.0,805000.0,0.409600,Residential,Single Family
3,200212,2020,2021-03-09,Avon,5 CHESTNUT DRIVE,130400.0,179900.0,0.724800,Residential,Condo
4,200243,2020,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290.0,890000.0,0.695800,Residential,Single Family
...,...,...,...,...,...,...,...,...,...,...
1054154,190272,2019,2020-06-24,New London,4 BISHOP CT,60410.0,53100.0,1.137665,Single Family,Single Family
1054155,190284,2019,2019-11-27,Waterbury,126 PERKINS AVE,68280.0,76000.0,0.898400,Single Family,Single Family
1054156,190129,2019,2020-04-27,Windsor Locks,19 HATHAWAY ST,121450.0,210000.0,0.578300,Single Family,Single Family
1054157,190504,2019,2020-06-03,Middletown,8 BYSTREK DR,203360.0,280000.0,0.726300,Single Family,Single Family
1054158,190344,2019,2019-12-20,Milford,250 RESEARCH DR,4035970.0,7450000.0,0.541700,Other,Bachelor

In [21]:
df.to_csv('data\Real_Estate_Data.csv')